/* Reset de estilos para zerar as configurações padrão dos navegadores */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

/* Estilo para a navegação no cabeçalho */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para as seções */
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para os projetos no portfólio */
.projeto {
    margin-bottom: 20px;
}

.projeto img {
    max-width: 100%;
    height: auto;
}

.projeto h3 {
    margin-top: 10px;
    font-size: 24px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para links no rodapé */
footer a {
    color: #fff;
    text-decoration: none;
}
